.categories-container {
    background-color: red;
    padding: 10px;
}

.categories-container .category-container {
    background-color: green;
     padding: 2px;
}
         
.categories-container .category-container .category-body-container {
    background-color: blue;
    padding: 30px;
} 